@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata-Medium.ttf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #f9f9fb;
}

#logo {
  height: 140px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#container {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Inconsolata";
  padding: 4px 0px 4px 2.5px;
}

#select {
  padding: 2.5px;
}

#notification {
  font-size: small;
  padding: 2.5px 0px 0px 2.5px;
  margin: 0px;
}
